body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #767777;
    color: #333;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 10px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 15px;
    object-fit: cover;
    object-position: center;
}

/* contact sect */
.contact {
    color: white;
    background-color: rgb(92, 91, 91);
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.contact a {
    color: #06d6c5;
    text-decoration: none;
    margin: 0 5px;
}

.contact a:hover {
    text-decoration: underline;
}

.social-links {
  margin-top: 0.8rem;
}

.social-links a {
  color: #fffdfd;
  margin: 0 10px;
  font-size: 1.4rem;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #081022; /* change hover color */
}